#main-todo-container {
    width: 600px;
    margin: 2rem auto;
}

.todo-list {
    margin: 1rem 0;
}

.todo-done {
    color: green;
    text-decoration: line-through;
} 

.todo-not-done {
    color: red;
}

.todo-item-delete-button {
    float: right;
    text-decoration: none;
}

#navbar {
    background-color: white;

}
.panel-default>.panel-heading{
    background-color: lightblue;
    color:white;
}
.panel-default>.panel-footer{
    background-color: white;
}
.img-responsive{
    vertical-align: center;
}
.profile-text{
    color:white;
    padding-top:0.5rem;
    text-align: left;
   font-size: 1em;
}