#navbar {
    background-color: white;
}

.left-navbar{
    margin-left: -15px;
}

.search-navbar{
    margin-right: 40px;
}

body{
    background-color:#f5f8fa;
}

#myProfil{
    margin-right: 20px;
}

#postButton{
    margin-right: 20px;
}
.panel-default>.panel-heading{
    background-color: #1DA1F2;
    color:white;
}
.panel-default>.panel-footer{
    background-color: white;
}
.profile-text{
    color:white;
    padding-top:0.5rem;
    text-align: left;
   font-size: 1em;
}
.twitter_numbers{
    color:#1DA1F2;
}
.col-sm-4 {
    width: 33.33333333%;
    font-weight: bold;
}
.hashtag_link{
    padding-top: 0.7rem;
    color:#0084B4;
    text-align: left;
}
.tweet_info{
    color:#8899a6;
}
#searchIcon{
    margin-left: -45px;
    border-style: none;    
}

#searchIcon:hover{
    background-color:white;
}
.follow-btn{
  margin-top: 1rem; 
}
.text_left{
    text-align: left;
}

.profilSmall{
    width:300px;   
}

.leftPictures{      
    padding-left: 5px; 
    padding-top: 10px;   
}

.rightSide{
    padding-left: 20px;
    border-style: none;
}

.rSide{border-style: none;
    margin-bottom: 5px;
}

.LeftSide{
    padding-left: 20px;
}

.TweetContainer{
     border: 1px solid #e3e3e3;
     background-color: white;
}

#newTweet{
    padding-bottom: 10px;
    border: 1px solid #e3e3e3;
}

#panel-heading-tweet{
    background-color: white;
    color: black;
    border: none;
}

.panel-body-tweet{border: none; padding-top: 0px;}

.panel-footer-tweet{border: none; padding-top: 0px;}

.tweetPicture{
    width:100%;
    height:50%; 
}

.tweetIcon{
    padding-left: 10px;
    color:  #aab8c2;
    margin-left: 40px;
}

.tweetIcon:hover{
    color: black;
    cursor: pointer;
}

.heart:hover{
    color: red;
    cursor: pointer;
}
.authorTweet{
   color: black; 
}

.authorTweet:hover{
   cursor: pointer;
   color: blue;  
}

.timeTweet{
     color:  #aab8c2;
}

.img-thumbnail{padding: 0px;}

.numberIcone{
 color:  #aab8c2;
} 

.maxLetter{
    margin-right: 20px;
    margin-top: 7px;
    color: #aab8c2;
}

.profile-text:first-of-type{
    padding-top: 0px;
}